@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Raleway:wght@700&display=swap");

.header {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 36px;
}

.montserrat-semi-bold {
  font-family: "Montserrat", serif;
  font-weight: 600;
}

.montserrat-regular {
  font-family: "Montserrat", serif;
  font-weight: 500;
}

.border-bottom-gray {
  border-bottom: 1px solid #bdbdbd;
}

.pointer {
  cursor: pointer;
}

.active {
  border-bottom: 3px solid #2f80ed;
}
